on:
  release:
    types: [ created ]

permissions:
  contents: write
  packages: write

jobs:
  release-docker-image:
    name: Release docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: ghcr.io/cego/swarm-app
          tags: type=semver,pattern={{version}}
      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
